body {
    padding: 1em;
    font-family: Verdana, sans-serif;
    background-color: #3C1518;
}

.content {
    margin: auto;
    padding: 1px 1em;
    max-width: 800px;
    background-color: #DDDDDD;
    color: black;
}

h1 {
    color: #3C1518;
}

h2 {
    color: #69140E;
}

h3 {
    color: #A44200;
}

h4 {
    color: #D58936;
}

h5 {
    color: #FFFB46;
}

a {
    color: inherit;
}

a:not(:has(img)) {
    &::before {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
    }

    &[href^="https://github"]::before {
        content: url(/github.svg);
    }

    &[href^="https://www.youtube.com"]::before {
        content: url(/youtube.svg);
    }

    &[href^="https://youtu.be"]::before {
        content: url(/youtube.svg);
    }
}

.contact-me a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-color: transparent;
}

.profile {
    float: right;
    margin: 0.5em;
}
